.dx-dropdownlist-popup-wrapper {
    width: 150px !important;
}

.dx-tagbox:not(.dx-tagbox-single-line) .dx-texteditor-input-container {
    min-height: 36px !important;
    padding: 0 !important;
}

/* .job-position .dx-texteditor.dx-state-hover {
    border: none !important;
}

.job-position .dx-texteditor.dx-editor-outlined {
    border: none !important;
} */